{% extends 'base.html.twig' %}

{% block content %}
    <div class="vignette">
        <img src="{{ asset('images/chien-chat.jpg') }}" class="vignette__img">
        <div class="vignette__txt">
            <p>Rejoignez la communauté des passionnés de leurs animaux et partagez vos meilleurs photos. C'est ici que votre compagnon devra une star !</p>
            <button>Poster mes photos</button>
        </div>
    </div>
{% endblock %}